<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head   th:include="fragments/head :: head">
</head>
<body class="hold-transition skin-blue layout-boxed sidebar-mini">
<div class="wrapper">
    <header th:include="fragments/header :: header" class="main-header"> </header>
    <div  th:include="fragments/sidebar"></div>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title"th:text="${test.nama_test}"></h3>
                        </div>
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="5%">no</th>
                                    <th width="70%">Peserta</th>
                                    <th width="25%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="testsubdilist, iterStat:${listpeserta}">
                                    <form action="prosestambahpesertatest" method="post">
                                        <input type="hidden" name="id" th:value="${test.id}">
                                        <input type="hidden" name="ids" th:value="${testsubdilist.id}">
                                        <td th:value="${iterStat.count}"></td>
                                        <td th:text="${testsubdilist.pesertaProfil.nama_peserta}"></td>
                                        <td><button type="submit" class="btn btn-primary">Submit</button></td>
                                    </form>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer  th:include="fragments/footer :: footer" class="main-footer"></footer>
    <div class="control-sidebar-bg"></div>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
    $(function () {
        $('#datepicker').datepicker({
            autoclose: true
        })
    });
    $(document).ready(function(){
        $("#jenis_soal").change(function(){
            var x = document.getElementById("hideme");
            //$(x).toggle();
            if (x.style.display == "none") {
                x.style.display = "inline";
            } else {
                x.style.display = "none";
            }
        })
    });
</script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- Morris.js charts -->
<script src="bower_components/raphael/raphael.js"></script>
<script src="bower_components/morris.js/morris.min.js"></script>
<!-- Sparkline -->
<script src="bower_components/jquery-sparkline/dist/jquery.sparkline.js"></script>
<!-- jvectormap -->
<script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js"></script>
<!-- Slimscroll -->
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- FastClick -->
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
        })
    })
</script>
<link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
</body>
</html>
