<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head   th:include="fragments/head :: head">
 </head>
<body class="hold-transition skin-blue layout-boxed sidebar-mini" onload="myFunction()" style="margin:0;">

<!--<div id="preloader">-->
  <!--<div id="loader">-->
  <!--</div>-->
<!--</div>-->
<!--<div style="display:none;" id="myDiv" class="animate-bottom">-->


<div class="wrapper">
<!-- -bawah header -->
 <header th:include="fragments/header :: header" class="main-header"> </header>



  <!-- Left side column. contains the logo and sidebar bawah-->

  <div  th:include="fragments/sidebar"></div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
  <section class="content">
      <div class="row">

        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3 th:text="${soaljum}"></h3>

              <p>SOAL</p>
            </div>
            <div class="icon">
              <i class="ion"></i>
            </div>
            <a th:href="@{/soal}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3 th:text="${pesertajum}"></h3>

              <p>PESERTA</p>
            </div>
            <div class="icon">
              <i class="ion"></i>
            </div>
            <a th:href="@{/peserta}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
        </div>

      </div>
    <div class="box">
      <div class="box-header">
        <h2 class="box-title">Test</h2>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example1" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th width="5%">No</th>
            <th>TEST</th>
            <th width="13%">WAKTU TEST</th>
            <th width="10%">STATUS</th>
            <th width="21%">AKSI</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="listtest, iterStat:${teslismenungggu}">
           <td th:text="${iterStat.count}"></td>
            <td th:text="${listtest.nama_test}"></td>
            <td th:text="${listtest.tgl_test}"></td>
            <td th:text="${listtest.status}"></td>
            <td ><center>
              <a th:href="@{viewtestspeserta(id=${listtest.id})}" type="button" class="btn  btn-primary">view Peserta</a>
              <a th:href="@{viewtestssoal(id=${listtest.id})}" type="button" class="btn  btn-primary">view Soal</a>
            </center>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th>No</th>
            <th>JENIS TEST</th>
            <th>WAKTU TEST</th>
            <th>STATUS</th>
            <th>AKSI</th>
          </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>

  </section>
        <!-- right col -->

      <!-- /.row (main row) -->

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper footer bawah ini-->

	<footer  th:include="fragments/footer :: footer" class="main-footer"></footer>

  <!-- Control Sidebar -->

  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- jQuery 3 -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/bower_components/jquery-ui/jquery-ui.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script th:inline="javascript">
  $.widget.bridge('uibutton', $.ui.button);
  $(function () {
  $('#datepicker').datepicker({
      autoclose: true
    })
  });
  $(document).ready(function(){
    $("#jenis_soal").change(function(){
        var x = document.getElementById("hideme");
      //$(x).toggle();
        if (x.style.display == "none") {
            x.style.display = "inline";
        } else {
            x.style.display = "none";
        }
      })
  });
  $(function () {
      $('#example1').DataTable()
      $('#example2').DataTable({
          'paging'      : true,
          'lengthChange': false,
          'searching'   : false,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : false
      })
  })

</script>
<script >
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
        })
    })
</script>
<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- Bootstrap 3.3.7 -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- Morris.js charts -->
<script src="/bower_components/raphael/raphael.js"></script>
<script src="/bower_components/morris.js/morris.min.js"></script>
<!-- Sparkline -->
<script src="/bower_components/jquery-sparkline/dist/jquery.sparkline.js"></script>
<!-- jvectormap -->
<script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="/bower_components/moment/min/moment.min.js"></script>
<script src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js"></script>
<!-- Slimscroll -->
<script src="/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- FastClick -->
<script src="/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<script>
    var myVar;

    function myFunction() {
        myVar = setTimeout(showPage, 3000);
    }

    function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
    }
</script>
<!--</div>-->
</body>
</html>
